In [1]:
print('ch2')

ch2

In [1]:
2 == 2

True

In [2]:
2 != 3

True

In [3]:
'hello' == 'bye'

False

In [4]:
'2' == 2

False

In [5]:
3 != 3

False

In [6]:
2 > 1

True

In [7]:
2>=2

True

In [8]:
4<=1

False

In [9]:
print('comparison operators')

comparison operators

In [10]:
print('with logical operators, you can chain together comparison operators')

with logical operators, you can chain together comparison operators

In [11]:
print('and or not')

and or not

In [12]:
1<2

True

In [13]:
2<3

True

In [14]:
1<2<3

True

In [15]:
1<2>3

False

In [16]:
print('instead you can use this method')

instead you can use this method

In [17]:
1 < 2 and 2 > 3

False

In [18]:
1 < 2 and 2 < 3

True

In [19]:
'h' == 'h' and 2 == 2

True

In [20]:
('h' == 'h') and (2 == 2)

True

In [21]:
1 == 1 or 2 == 3

True

In [22]:
1 == 1

True

In [23]:
not(1==1)

False

In [24]:
not 1==1

False

In [26]:
print('Not looks for the opposite boolean value ')

Not looks for the opposite boolean value

In [27]:
not 400 == 400

False

In [28]:
400 != 400

False

In [29]:
print('And requires both true, Or requires one to be true')

And requires both true, Or requires one to be true

In [30]:
10 == 10 and 11 > 3

True

In [32]:
print('next section If, Elif and Else statements to control logic flow')

next section If, Elif and Else statements to control logic flow

In [44]:
print('if some_condition: \n    execute some code \nelif some_other_condtion: \n    do something different (can have as many elifs)\n else:\n    do something else')

if some_condition:
    execute some code
elif some_other_condtion:
    do something different (can have as many elifs)
 else:
    do something else

In [45]:
if True:
    print('hello')

hello

In [46]:
if 3>4:
    print('hello')
else:
    print('not true')

not true

In [47]:
hungry=True
if hungry:
    print('feed me')
else:
    print("i'm not hungry")

feed me

In [48]:
hungry=False
if hungry:
    print('feed me')
else:
    print("i'm not hungry")

i'm not hungry

In [50]:
loc = 'bank'

if loc == 'Autoshop':
    print('cars')
else:
    print('cash')

cash

In [51]:
loc = 'bank'

if loc == 'Autoshop':
    print('cars')
elif loc == 'bank':
    print('vault')
else:
    print('cash')

vault

In [52]:
loc = 'game'

if loc == 'auto shop':
    print('cars')
elif loc == 'bank':
    print('vault')
elif loc == 'movies':
    print('bigscreen')
else:
    print('none')

none

In [55]:
print('next section for loops, iterable ')

next section for loops, iterable

In [57]:
print('my_iterable = [1,2,3, item_name]\n for item_name in my_iterable:\n print(item_name)')

my_iterable = [1,2,3, item_name]
 for item_name in my_iterable:
 print(item_name)

In [58]:
print('For every item in this list -> execute this code')

for every item in this list -> execute this code

In [59]:
mylist= [1,2,3,4,5,6,7,8,9,10]

In [61]:
for numb in mylist:
    print(numb)

1
2
3
4
5
6
7
8
9
10

In [62]:
for numb in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [64]:
for numb in mylist:
    #check for even
    if numb % 2 == 0:
        print(numb)

2
4
6
8
10

In [71]:
for numb in mylist:
    #check for even
    if numb % 2 == 0:
        print(f'even: {numb}')
    #check for odd
    else:
        print(f'odd: {numb}')

odd: 1
even: 2
odd: 3
even: 4
odd: 5
even: 6
odd: 7
even: 8
odd: 9
even: 10

In [72]:
list_sum=0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [73]:
list_sum=0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [74]:
mystring='hello world'
for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [76]:
for _ in 'mystring':
    print(_)

m
y
s
t
r
i
n
g

In [77]:
tup=(1,2,3)

for item in tup:
    print(item)

1
2
3

In [83]:
nlist = [(1,2),(3,4),(5,6),(7,8)]
print('list of tuples, tuple unpacking')
len(nlist)

list of tuples, tuple unpacking

4

In [85]:
for _ in nlist:
    print(_)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [87]:
for (a,b) in nlist:
    print(a)
    print(b)

print('tuple unpacking of individual items')

1
2
3
4
5
6
7
8
tuple unpacking of individual items

In [89]:
for a,b in nlist:
    print(a)

1
3
5
7

In [90]:
nnlist= [(1,2,3),(4,5,6),(7,8,9)]

for item in nlist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [92]:
nnlist= [(1,2,3),(4,5,6),(7,8,9)]

for a,b,c in nnlist:
    print(b)

2
5
8

In [94]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d:
    print(item)

print("whenever you iterate through a dictionary, you'll see only the keys")

k1
k2
k3
whenever you iterate through a dictionary, you'll see only the keys

In [95]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d.items():
    print(item)

#added .items()

('k1', 1)
('k2', 2)
('k3', 3)

In [96]:
d={'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(value)

1
2
3

In [99]:
d={'k1':1,'k2':2,'k3':3}

for value in d.values():
    print(value)

print('used .values()')

1
2
3
used .values()

In [100]:
print('while loops next section')

while loops next section

In [104]:
print('while some_boolean_condition:\n   do something\nelse:\n   do something different')

while some_boolean_condition:
   do something
else:
   do something different

In [105]:
x = 0

while x < 5:
    print(f'the current value of x is {x}')
    x = x + 1

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4

In [107]:
x = 0

while x < 5:
    print(f'the current value of x is {x}')
    x += 1
else:
    print('x is not less than 5')

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
x is not less than 5

In [110]:
print('break - breaks out of the current closest enclosing loop \n continue - goes to the top of the closest enclosing loop\n  pass - does nothing at all')

break - breaks out of the current closest enclosing loop
 continue - goes to the top of the closest enclosing loop
  pass - does nothing at all

In [114]:
ql= [1,2,3]

for item in ql:
    pass
print('placeholder pass')
print('end of my script')

placeholder pass
end of my script

In [115]:
mystr= 'sammy'

for letter in mystr:
    print(letter)

s
a
m
m
y

In [118]:
mystr= 'sammy'

for letter in mystr:
    if letter == 'a':
        continue
    print(letter)

s
m
m
y

In [120]:
for letter in mystr:
    if letter == 'a':
        break
    print(letter)
print('if letter = a then break out of loop')

s
if letter = a then break out of loop

In [123]:
x=0

while x < 10:
    if x == 7:
        break
    print(x)
    x += 1

0
1
2
3
4
5
6

In [124]:
print('next section useful operations')

next section useful operations

In [136]:
ranl= [1,2,3,4,5,6,7,8,9,10]
ranl

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [138]:
for num in range(3,11,2):
    print(num)

3
5
7
9

In [143]:
list(range(0,11,2))

print('generater generates instead of saving to memory')

generater generates instead of saving to memory

In [144]:
index_count = 0

for letter in 'abcde':
    print('at index {} the letter is {}'.format(index_count,letter))
    index_count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [148]:
index_c = 0
word = 'abcde'

for letter in word:

    print(word[index_c])
    index_c += 1

a
b
c
d
e

In [149]:
print('instead of doing that there is a function called enumerate')

instead of doing that there is a function called enumerate

In [150]:
wordd = 'hello'

for item in enumerate(wordd):
    print(item)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [151]:
print('can use tuple unpacking from earlier')

can use tuple unpacking from earlier

In [152]:
newword = "andrew"

for a,b in enumerate(newword):
    print(a)
    print(b)
    print('\n')

0
a


1
n


2
d


3
r


4
e


5
w

In [155]:
print('zip function, oposite of above')

zip function, oposite of above

In [160]:
mynewlist1 = [1,2,3]
mynewlist2 = ['a','b','c']
mynewlist3 = [100,200,300]
#zip(mynewlist1,mynewlist2) wont work unless add for item in 
for _ in zip(mynewlist1,mynewlist2,mynewlist3):
    print(_)

#zips up lists
#is mynewlist1 had more numbers they wouldn't show up, it'll only zip up to the other lists length

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [161]:
list(zip(mynewlist1,mynewlist2,mynewlist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [166]:
for a,b,c in zip(mynewlist1,mynewlist2,mynewlist3):
    print(c)

100
200
300

In [167]:
for a,b,c in zip(mynewlist1,mynewlist2,mynewlist3):
    print(a,b)

1 a
2 b
3 c

In [168]:
'x' in [1,2,3]

False

In [170]:
33 in [3,3,12,33]

True

In [171]:
'a' in 'a world'

True

In [172]:
diction = {'mykey':1,'other':2}

'mykey' in diction

True

In [177]:
#how to check if its in keys or values
diction = {'mykey':1,'other':2}
2 in diction.values()

True

In [178]:
diction = {'mykey':1,'other':2}
2 in diction.keys()

False

In [182]:
numlist= [10,20,30,40,50,60,70,80]
#how to find minimum in list built in function
min(numlist)

10

In [183]:
max(numlist)

80

In [184]:
#import functions from library
from random import shuffle

In [185]:
mylis = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylis)
mylis

[3, 10, 6, 5, 2, 9, 7, 4, 1, 8]

In [186]:
mylis = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylis)
mylis

[3, 2, 1, 6, 5, 10, 7, 9, 4, 8]

In [188]:
randoml= shuffle(mylis)
type(randoml)
#shuffle is an in place function , it operates in place on that list

NoneType

In [189]:
from random import randint

In [191]:
# imported randint 
# returns back a random integer
randint(0,100)

29

In [198]:
mynum = randint(0,100)
mynum

15

In [199]:
mynum

15

In [200]:
input('Enter a number: ')

'4'

In [201]:
pickednum = input('Type in a number')

In [202]:
pickednum

'3'

In [203]:
typename = input('What is your name?')

In [204]:
typename

'andrew'

In [205]:
# this will accept input and make it a string

In [207]:
type(pickednum)

str

In [210]:
type(int(pickednum))

int

In [211]:
# make sure input validatation occurs

In [212]:
pickednum = int(input('Favorite number: '))

In [213]:
type(pickednum)

int

In [214]:
#list comprehensions are a unique way to quickly create a list with Python. If you find yourself using a for loop along with .append() to create a list, list comprehensions are a good alternative

In [215]:
string = 'hello'

In [219]:
#create string
string = 'hello'
#create new list
newlistlc = []

#for everything in string, add everything onto list
for _ in string:
    newlistlc.append(_)

#show list
newlistlc

['h', 'e', 'l', 'l', 'o']

In [220]:
#format into a list comprehension

In [222]:
string = 'hello'
newlistlc = [_ for _ in string]

newlistlc

['h', 'e', 'l', 'l', 'o']

In [224]:
twolist = [x for x in 'second']
twolist

['s', 'e', 'c', 'o', 'n', 'd']

In [225]:
ranglist = [_ for _ in range(0,12)]
ranglist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [228]:
ranglist = [_**2 for _ in range(0,12)]
ranglist
#flattens out for loop ranglist.append(_**2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [239]:
#ranglist = [_**2 for _ in range(0,12)] would be same outcome
ol= range(0,12)
oldl=[]

for _ in ol:
    oldl.append(_**2)

oldl

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]