In [1]:
print('ch3')

ch3

In [ ]:
#methods - built in objects in python

In [12]:
newlist = [1,2,3,4,5]
newlist.append(6)
newlist

[1, 2, 3, 4, 5, 6]

In [16]:
newlist.pop(3)
newlist
#3 would pop off 4 indexing

[1, 2, 3, 5, 6]

In [17]:
nnlist = [1,2,3]
help(nnlist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [20]:
print('functions - blocks of code that can be easily executed many times, without needing to constantly rewrite the entire block of code')

functions - blocks of code that can be easily executed many times, without needing to constantly rewrite the entire block of code

In [26]:
#def keyword, creates function
#def name_of_function():
#   print('hello')
#(to call)
#name_of_function()
#hello

##

#def name_of_function(inputname):
#   print('hello + inputname')
#(to call)
#name_of_function("Jose")
#hello Jose

#return allows us to assign the output of the function to a new variable\

In [28]:
#def add_function(num1+num2):
#    return num1 + num2

#result = add_function(1,2)

#print(result)

In [32]:
#basic functions
def say_hello():
    print('hello')
    print('andrew')

say_hello()

hello
andrew

In [1]:
def fname():
    print('second function')
    print('another line')

fname()

second function
another line

In [2]:
def fname(iname):
    print(f'hello {iname}')

fname('andrew')

hello andrew

In [4]:
# can provide a default value if nothing is inserted

def newfunct(newname = 'default'):
    print(f'hello {newname}')

newfunct()

#no longer produces an error if no input

hello default

In [5]:
def add_num(num1,num2):
    return num1+num2
#return instead of printing out results will save the variable

#save as variable
result = add_num(10,20)

result

30

In [7]:
#second
def secfun(a,b):
    return a - b 

result = secfun(100, 20)

result

80

In [8]:
def third(c,d):
    return c + d

newresult = third(30,40)

newresult

70

In [12]:
def print_and_return(e,f):
    print(f'{e+f} is the number')
    return e + f

nresult = print_and_return(30,94)

nresult

124 is the number

124

In [16]:
#logic with python functions
#2 mod 2 
2 % 2

0

In [17]:
3 % 2
#will have a remaineder of 1 because 2 can only go into 3 1 time

1

In [18]:
41 % 40

1

In [19]:
20 % 2 == 0

True

In [20]:
20 % 3 == 0

False

In [22]:
def even_odd(input):
    resultnew = input % 2 == 0
    return resultnew

even_odd(30)

#also works like this
#def even_odd(input):
    #return input % 2 == 0

#even_odd(30)

True

In [23]:
def newf(ins):
    return ins % 3 == 0

newf(33)

True

In [27]:
#return true if any number is even inside a list

def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass

check_even_list([2,4,6])

True

In [35]:
def checkthree(threelist):
    for _ in threelist:
        if _ % 3 == 0:
            return True
        else:
            pass

#breaks out of function if it finds anything % 3
checkthree([3,2])

True

In [43]:
def checkeven(listtwo):
    for _ in listtwo:
        if _ % 2 == 0:
            return True
        else:
            pass
    return False

checkeven([1,2,3,4,5])

True

In [49]:
def evenchecktwo(twolist):
    #return all even numbers in list

    #placeholder variables
    placehlist = []

    for _ in twolist:
        if _ % 2 == 0:
            placehlist.append(_)
        else:
            pass

    return placehlist
evenchecktwo([1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10]

In [51]:
#functions and returning multiple items from a function
#functions and tuple unpacking

In [53]:
#tuples
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

for _ in stock_prices:
    print(_)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [54]:
# tuple unpacking, grabbing items from tuples

for ticker,price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [57]:
for a,b in stock_prices:
    print(b+(0.1*b))

    #10% increase in prices

220.0
440.0
110.0

In [58]:
#tuple unpacking can also happen with a function

work_hours = [('Will',80),('Abby',100),('Nate',40)]

#want to return employee name and hours worked

def employee_check(work_hours):
    current_max = 0
    #if employee beats the current max, it'll be reset with that new value
    employee_with_most = ''

    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_with_most = employee
        else:
            pass
    #return
    return (employee_with_most,current_max)

employee_check(work_hours)

('Abby', 100)

In [66]:
#second
stockm = [('APPL',200),('GOOG',400),('MSFT',100)]

def stockch(stockm):
    maxst = 0
    namest = ''

    for a,b in stockm:
        if b > maxst:
            maxst = b
            namest = a
        else:
            pass

    return (namest,maxst)

stockch(stockm)

('GOOG', 400)

In [76]:
dist = [('house',100),('market',200),('park',400)]

def distance_check(dist):
    maxdist = 0
    namedist = ''

    for loc,feet in dist:
        if feet > maxdist:
            maxdist = feet
            namedist = loc
        else:
            pass

    return (namedist,maxdist)

result = distance_check(dist)
result

('park', 400)

In [78]:
dist = [('house',100),('market',200),('park',400)]

def distance_check(dist):
    maxdist = 0
    namedist = ''

    for loc,feet in dist:
        if feet > maxdist:
            maxdist = feet
            namedist = loc
        else:
            pass

    return (namedist,maxdist)

loc,feet = distance_check(dist)
# can search just location name or distance, tuple unpacking with a function call
loc

'park'

In [80]:
#interactions between functions
#typically a python script or notebook conatins 
#several functions interacting with eachother

In [81]:
#three cup monte
#3 cups, underneath one is a red ball 
#python list will mimic cups and ball, 2 empty strings and captial O

#shuffle function random module
#example = [1,2,3,4,5,6,7,8,9]

#from random import shuffle

In [114]:
example = [1,2,3,4,5,6,7,8]

from random import shuffle

In [115]:
shuffle (example)

In [116]:
example

[8, 6, 3, 1, 7, 4, 5, 2]

In [117]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [126]:
result = shuffle_list(example)
result

[4, 2, 5, 1, 6, 3, 8, 7]

In [127]:
mylist = ['','O','']

In [130]:
shuffle_list(mylist)

['O', '', '']

In [131]:
def player_guess():
    guess = ''

    while guess not in ['0','1','2']:
        guess = input('pick number 0, 1 or 2')

    return int(guess)

In [132]:
player_guess()

1

In [133]:
myindex = player_guess()

In [134]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('correct')
    else:
        print('wrong guess')
        print(mylist)

In [139]:
#initial list
mylist = ['','O','']

#shuffle list
mixedup_list = shuffle_list(mylist)

#user guess
guess = player_guess()

#check guess
check_guess(mixedup_list,guess)

wrong guess
['O', '', '']

In [141]:
def myfunc(name):
    print('Hello {}'.format(name))

myfunc('Hannah')

Hello Hannah

In [147]:
#function practice
#Write a Python function to find the Max of three numbers
practl=[33,99,12]

def findmax(practl):
    maxnum = 0
    for _ in practl:
        if _ > maxnum:
            maxnum = _
        else:
            pass
    return maxnum

findmax(practl)

99

In [148]:
#Write a Python function to sum all the numbers in a list

sumlist= [44,52,11]

def add_l(sumlist):
    totaln = 0
    for _ in sumlist:
        totaln += _
    return totaln

add_l(sumlist)

107

In [152]:
# Write a Python function to multiply all the numbers in a list

multl = [33,7,81]

def multiplic(multl):
    tot = 1
    for _ in multl:
        tot *= _

    return tot

multiplic(multl)

18711

In [155]:
#Write a Python program to reverse a string
string='Andrew'
string[::-1]

'werdnA'

In [173]:
#Write a Python function to check whether a number falls in a given range

def rangetest(number):
    if number in range(12,26):
        print(f"{number} is within the range")
    else:
        print(f'{number} is outside of range')

rangetest(25)

25 is within the range

In [182]:
#Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters

def string_test(cat):
    d={"Upper_case":0,"Lower_case":0}
    for _ in cat:
        if _.isupper():
            d["Upper_case"]+=1
        elif _.islower():
            d["Lower_case"]+=1
        else:
            pass

    print("Original string : ", cat )
    print("No. of upper : ",d["Upper_case"])
    print("No. of lower : ",d["Lower_case"])

string_test('The Fat Round Cat')

Original string :  The Fat Round Cat
No. of upper :  4
No. of lower :  10

In [ ]:
#*args and **kwargs
#accept an arbitrary number of arguments and key word arguments without having to predefine parameters in function calls

In [184]:
def myfuncarg(a,b):
    #returns 5% of the sum of a & b
    return sum((a,b)) * 0.05

myfuncarg(40,60)

5.0

In [188]:
#a and b are positional arguments so a is assigned to 40 due to position
#this method is not recommended
def myfuncarg(a,b,c=0,d=0,e=0):
    #returns 5% of the sum of a & b
    return sum((a,b,c,d,e)) * 0.05

myfuncarg(40,60,100,100,100)
#if more numbers are inserted a type error will occur until 
#positional arguments are exhausted

20.0

In [191]:
def myarg(*args):
    #args can be replaced w/ anything as long as theres *
    #args allows for as many arguments as the user inputs
    #this is treated like a tuple of parameters coming in
    return sum(args) * 0.05

myarg(40,60,100,210,400,100,200)

55.5

In [194]:
def anotherword(*new):
    return sum(new) + 100

anotherword(100,200,300)

700

In [196]:
def pritem(*args):
    for _ in args:
        print(_)

pritem(100,20,30,50)

100
20
30
50

In [ ]:
#python also allows a way to handle an arbitrary amount of
#keyword arguments, it builds a dictionary of key value pairs

In [200]:
def myfunk(**kwargs):
    print(kwargs)#shows the dictionary, kwargs return back a dictionary
    if 'fruit' in kwargs:
        print('my fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('no fruit')

myfunk(fruit = 'pineapple',veggie = 'greenbean')

{'fruit': 'pineapple', 'veggie': 'greenbean'}
my fruit of choice is pineapple

In [205]:
def jellyfun(**jelly):
    if 'goodjelly' in jelly:
        print('They have {} Jelly!'.format(jelly['goodjelly']))
    else:
        print('they dont have grape jelly')

jellyfun(badjelly = 'the other ones', otherjelly = 'strawberry')

they dont have grape jelly

In [210]:
#*args and **kwargs used together
def newfun(*args,**kwargs):

    #just to show the args and kwargs dict, not needed
    print(args)
    print(kwargs)

    print('I would like {} {}'.format (args[0],kwargs['food']))


#accepts as many args and kwargs that are entered
newfun(10,20,30,fruit = 'orange',food = 'eggs',animal = 'cat')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'cat'}
I would like 10 eggs

In [3]:
#function practice problems
#Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd

def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

lesser_of_two_evens(22,44)

22

In [15]:

#Write a function takes a two-word string and returns True 
#if both words begin with same letter

def twoword(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]


twoword('hello harry')

True

In [16]:
def samelet(a,b):
    if a[0] == b[0]:
        return True
    else:
        return False

samelet('hello','harry')

True

In [38]:
#Given two integers, return True if the sum of the integers 
#is 20 *or* if one of the integers is 20. If not, return False

def twent(a,b):
    if (a+b)==20 or a==20 or b ==20:
        return True
    else:
        return False

twent(10,10)

True

In [56]:
def wordtext(inpu):
    newlis= inpu.split()
    return newlis

wordtext('hello there')

['hello', 'there']

In [57]:
def testingsplit(word):
    newlistt = word.split()
    return newlistt

testingsplit('Hello this is a test of split')

['Hello', 'this', 'is', 'a', 'test', 'of', 'split']

In [71]:
#Write a function that capitalizes the first and fourth letters 
#of a name

def caponefour(a):
    if len(a) > 3:
        return a[:3].capitalize() + a[3:].capitalize()
    else:
        return "name too short"

caponefour('andrew')

'AndRew'

In [87]:
#Given a sentence, return a sentence with the words reversed

def sent(inpu):
    return ' '.join(inpu.split()[::-1])

sent('Hello this is reversed')

'reversed is this Hello'

In [100]:
#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere

def three_three(nums):
    for _ in range(0, len(nums)-1):
        if nums[_:_+2] == [3,3]:
            return True
    
    return False

three_three([1,3,3])

True

In [122]:
#Given a string, return a string where for every character 
#in the original there are three characters

def threestring(a):
    stri = ''
    for _ in a:
        stri += _ * 3
    return stri

threestring('andrew')

'aaannndddrrreeewww'

In [145]:
#Given three integers between 1 and 11, if their sum is less 
# than or equal to 21, return their sum. If their sum exceeds 
# 21 *and* there's an eleven, reduce the total sum by 10. 
# Finally, if the sum (even after adjustment) exceeds 21, 
# return 'BUST'
#

def blckjck(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) > 21 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return "Bust"

blckjck(11,5,7)

13

In [152]:
#more practice

def pract(a,b):
    #if both numbers are even
    if a %2 == 0 and b % 2 == 0:
        #finding the lowest number between a and b
        if a < b:
            result = a
        else:
            result = b
    else:
        #find the highest number between a and b
        if a > b:
            result = a
        else:
            result = b
    return result

    
pract(2,3)

#this can all be cleaned up with min and max function

3

In [161]:
#this can all be cleaned up with min and max function

def bettermethod(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

bettermethod(10,21)

21

In [162]:
#find highest number in list

def findhigh(*a):
    return max(a)

findhigh(10,20,30,40,41)

41

In [170]:
def animalcrackers(a):
    wordlist = a.split()
    print(wordlist)

    first= wordlist[0]
    second = wordlist[1]

    return first[0] == second[0]

animalcrackers('lazy llama')
#this can be simplified

['lazy', 'llama']

True

In [175]:
def animalcr(words):
    newworlist = words.lower().split()
    return newworlist[0][0] == newworlist[1][0]

animalcr('hello Harry')

True

In [179]:
def makestwent(a,b):
    if a + b == 20:
        return True
    elif a or b == 20:
        return True
    else:
        return False

makestwent(10,20)
#this can be simplified

True

In [182]:
def makestwent(a,b):
    return (a+b) == 20 or a == 20 or b == 20

makestwent(10,21)

False