In [ ]:
#ch2 Pandas

In [ ]:
# pandas is an open source library built on top of numpy
# it allows for fast analysis and data cleaning and preparation
# it excels in performance and productivity
# it also has built-in visualization features
# it can work with data from a wide variety of sources

# pip install pandas

In [ ]:
# Series
# DataFrames
# Missing Data
# GroupBy
# Merging,Joining,and Concatinating
# Operations
# Data Input and Output

In [4]:
# Series is simular to a numpy array
# Series can have axis labels - it can be indexed by a label

import numpy as np
import pandas as pd

#4 seperate python objects

#list of letters
labels = ['a','b','c']

#list of ints
my_data = [10,20,30]

#numpy array
arr = np.array(my_data)

#dictionary
d={'a':10,'b':20,'c':30}

#how to create series
pd.Series(data = my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(arr,labels)
# numpy array will work the same as a normal list in python

a    10
b    20
c    30
dtype: int32

In [8]:
pd.Series(d)
#will automatically set the keys as the index and then the key pair value as the datapoint

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(data=[sum,print,len])
#can pass in references to built in function as the datapoint

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [12]:
series1 = pd.Series([1,2,3,4],['USA','Germany','Russia','Japan'])
series1

USA        1
Germany    2
Russia     3
Japan      4
dtype: int64

In [13]:
series2 = pd.Series([1,2,3,4],['USA','Germany','Italy','Japan'])
series2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [14]:
series1['Russia']

3

In [16]:
series2[2]

3

In [17]:
series1 + series2

Germany    4.0
Italy      NaN
Japan      8.0
Russia     NaN
USA        2.0
dtype: float64

In [ ]:
#where it cannot find a match, it places a NaN

In [24]:
# DataFrames

import numpy as np
import pandas as pd

from numpy.random import randn
np.random.seed(101)

df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
#DataFrames a bunch of Series that share an index

In [25]:
df['W'] # W column is a series

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [26]:
type(df['W'])

pandas.core.series.Series

In [27]:
type(df)

pandas.core.frame.DataFrame

In [29]:
df.W
# be careful that if you are using this way that it does not match the name of an actual method,
# methods could get overwriten by a column name

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [30]:
#better way is to use brackets
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [31]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [32]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [34]:
#creating a new column
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [36]:
#for removing columns you can use .drop
df.drop('new',axis=1)
#drop doesn't happen in place

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [37]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [38]:
df.drop('new',axis=1,inplace=True)
#pandas does this so that you do not accidentally lose data
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509