In [134]:
1+1

2

In [1]:
print('hello world')

hello world

In [2]:
20 % 5

0

In [3]:
2 ** 3

8

In [4]:
2 + 10 * 10 + 3

105

In [5]:
(2+10) * (10 +3)

156

In [6]:
my_cats = 2

In [7]:
my_cats

2

In [8]:
my_cats = ["merry","sammy"]

In [9]:
my_cats

['merry', 'sammy']

In [10]:
print('dynamic typing, data types')

dynamic typing, data types

In [11]:
a = 5

In [12]:
a + a

10

In [13]:
a = a + a

In [14]:
a

10

In [15]:
type(a)

int

In [16]:
a = 30.1

In [17]:
type(a)

float

In [18]:
income = 100
tax_rate = 0.1
taxes = income * tax_rate

In [19]:
taxes

10.0

In [20]:
print('intro to strings, indexing, slicing ')

intro to strings, indexing, slicing

In [21]:
print('one')
print("two")

one
two

In [22]:
print('hello \n world')

hello
 world

In [23]:
print('hello \t world')

hello 	 world

In [24]:
len('hello')

5

In [25]:
len('I am')

4

In [26]:
mystring = "newstring"

In [27]:
mystring

'newstring'

In [28]:
mystring[0]

'n'

In [29]:
mystring[7]

'n'

In [30]:
mystring[6]

'i'

In [31]:
mystring[8]

'g'

In [32]:
mystring[-1]

'g'

In [33]:
mystring

'newstring'

In [34]:
mystring[3:9]

'string'

In [35]:
mystring[0:3]

'new'

In [36]:
print('3 would be up to but not including')

3 would be up to but not including

In [37]:
mystring

'newstring'

In [38]:
mystring[0:4]

'news'

In [39]:
mystring[::]

'newstring'

In [40]:
mystring[::2]

'nwtig'

In [41]:
print('step size of 2')

step size of 2

In [42]:
mystring

'newstring'

In [43]:
mystring[3:9:3]

'si'

In [44]:
mystring[::-1]

'gnirtswen'

In [45]:
print('reverse string')

reverse string

In [46]:
print('string immutability, cannot assign name="sam" and attempt name[0] = "p"')

string immutability, cannot assign name="sam" and attempt name[0] = "p"

In [47]:
print('concatenate')

concatenate

In [48]:
name= "Sam"

In [49]:
last_letters = name[1:]

In [50]:
last_letters

'am'

In [51]:
'P' + last_letters

'Pam'

In [52]:
x = 'Hello '

In [53]:
y = "World"

In [54]:
x + y

'Hello World'

In [55]:
letter = 'z'

In [56]:
letter * 20

'zzzzzzzzzzzzzzzzzzzz'

In [57]:
'2' + '3'

'23'

In [58]:
2 + 3

5

In [59]:
d = 'new'

In [60]:
d.upper()

'NEW'

In [61]:
print('method')

method

In [62]:
d = 'new second'

In [63]:
d.split()

['new', 'second']

In [64]:
q='this is a string'

In [65]:
q.split('i')

['th', 's ', 's a str', 'ng']

In [66]:
print ('create a list out of a string')

create a list out of a string

In [67]:
jname = "Jose"
print("Hello " + jname)

Hello Jose

In [68]:
print('formatting with the .format() method')

formatting with the .format() method

In [69]:
print('this is a string {}'.format('insert'))

this is a string insert

In [70]:
print('my name is {}'.format('Andrew'))

my name is Andrew

In [71]:
print('the {} is {} and {}'.format('fox','red','quick'))

the fox is red and quick

In [72]:
print('the {0} is {2} and {1}'.format('fox','red','quick'))

the fox is quick and red

In [73]:
print('Hello my name is {0} and I like {2} as well as {1}'.format('Andrew','reptiles','computers'))

Hello my name is Andrew and I like computers as well as reptiles

In [74]:
print ('A good way to format objects into your strings for print statements is with the string .format() method')

A good way to format objects into your strings for print statements is with the string .format() method

In [75]:
print('The {q} {r} {f} '.format(f='fox', r='red', q='quick'))

The quick red fox

In [76]:
print('float formatting follows"{value:width.precision f{"')

float formatting follows"{value:width.precision f{"

In [77]:
result = 100/777

In [78]:
result

0.1287001287001287

In [79]:
print('The result was {r}'.format(r=result))

The result was 0.1287001287001287

In [80]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [81]:
print('The result was {r:10.3f}'.format(r=result))

The result was      0.129

In [82]:
print('The result was {r:1.5f}'.format(r=result))

The result was 0.12870

In [83]:
print('value width precision f')

value width precision f

In [84]:
print('string litteral method V')

string litteral method V

In [85]:
jname

'Jose'

In [86]:
print('previous method')
print('Hello, his name is {n}'.format(n=jname))

previous method
Hello, his name is Jose

In [87]:
print('fstring method')
print(f'Hello, his name is {jname}')

fstring method
Hello, his name is Jose

In [88]:
sname='sam'
age='3'
print(f'{sname} is {age} years old')

sam is 3 years old

In [89]:
print('List section')

List section

In [90]:
new_list= [1,2,3]

In [91]:
new_list

[1, 2, 3]

In [92]:
new_list = ['string',100,23.4]

In [93]:
len(new_list)

3

In [94]:
new_list = ['one', 'two','three']

In [95]:
new_list[0]

'one'

In [96]:
new_list[1:]

['two', 'three']

In [97]:
new_list

['one', 'two', 'three']

In [98]:
anotherlist=['four','five']

In [99]:
new_list + anotherlist

['one', 'two', 'three', 'four', 'five']

In [100]:
fivelist=new_list + anotherlist

In [101]:
fivelist

['one', 'two', 'three', 'four', 'five']

In [102]:
new_list[0] ='ONE ALL CAPS'

In [103]:
new_list

['ONE ALL CAPS', 'two', 'three']

In [104]:
new_list.append('newitem')

In [105]:
new_list

['ONE ALL CAPS', 'two', 'three', 'newitem']

In [106]:
print('append adds to list, pop removes from list')

append adds to list, pop removes from list

In [107]:
new_list.pop()

'newitem'

In [108]:
new_list

['ONE ALL CAPS', 'two', 'three']

In [109]:
popped_item = new_list.pop()

In [110]:
popped_item

'three'

In [111]:
new_list

['ONE ALL CAPS', 'two']

In [112]:
new_list.pop(1)

'two'

In [113]:
new_list

['ONE ALL CAPS']

In [114]:
new_new = ['a','e','x','o','q']

In [115]:
new_new

['a', 'e', 'x', 'o', 'q']

In [116]:
new_new.sort()
sorted = new_new

In [117]:
sorted

['a', 'e', 'o', 'q', 'x']

In [118]:
new_new.reverse()

In [119]:
new_new

['x', 'q', 'o', 'e', 'a']

In [120]:
print('dictionaries, objects stored in key pairs. No index location needed')

dictionaries, objects stored in key pairs. No index location needed

In [121]:
my_dict = {'key1':'value1','key2':'value2'}

In [122]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [123]:
my_dict['key2']

'value2'

In [124]:
price_lookup = {'TV':'$400','banana':'$.60','bicycle':'$300'}

In [125]:
price_lookup['TV']

'$400'

In [126]:
price_lookup['bicycle']

'$300'

In [127]:
dictlist = {'k1':123, 'k2':[1,2,3,4], 'k3':{'insidekey':100}}

In [128]:
dictlist['k3']

{'insidekey': 100}

In [129]:
dictlist['k1']

123

In [130]:
dictlist['k2']

[1, 2, 3, 4]

In [131]:
dictlist['k3']

{'insidekey': 100}

In [132]:
dictlist['k3']['insidekey']

100

In [133]:
dictlist['k2'][2]

3

In [134]:
dictlist['k2'][0]

1

In [135]:
nd={'newkey':['a','b','c']}

In [136]:
nd

{'newkey': ['a', 'b', 'c']}

In [137]:
ml=nd['newkey']

In [138]:
ml

['a', 'b', 'c']

In [139]:
letter = ml[2]

In [140]:
letter

'c'

In [141]:
letter.upper()

'C'

In [142]:
nd['newkey']

['a', 'b', 'c']

In [143]:
nd['newkey'][2].upper()

'C'

In [144]:
print('you can stack dictionary calls on a single object')

you can stack dictionary calls on a single object

In [145]:
ncd={'k1':100,'k2':200}

In [146]:
ncd['k3'] = 300

In [147]:
ncd

{'k1': 100, 'k2': 200, 'k3': 300}

In [148]:
print('how to add new keys')

how to add new keys

In [149]:
ncd['k1']=400

In [150]:
ncd

{'k1': 400, 'k2': 200, 'k3': 300}

In [151]:
ncd.keys()

dict_keys(['k1', 'k2', 'k3'])

In [152]:
ncd.values()

dict_values([400, 200, 300])

In [153]:
ncd.items()

dict_items([('k1', 400), ('k2', 200), ('k3', 300)])

In [154]:
print('tuples, like lists but are immutable. elements cannot be reasigned. uses (tuple)')

tuples, like lists but are immutable. elements cannot be reasigned. uses (tuple)

In [155]:
t = (1,2,3,4,5,6)

In [156]:
nl=[1,2,3,4,5,6]

In [157]:
len(t)

6

In [158]:
nt= ('one',2)

In [159]:
nt[0]

'one'

In [160]:
nt[-1]

2

In [161]:
ntt = ('a','a','b')

In [162]:
ntt.count('a')

2

In [163]:
print("how many times 'a'occurs in that tuple")

how many times 'a'occurs in that tuple

In [164]:
ntt.index('a')

0

In [165]:
print('index location a occurs at first')

index location a occurs at first

In [166]:
ntt

('a', 'a', 'b')

In [167]:
nl

[1, 2, 3, 4, 5, 6]

In [168]:
nl[0] = 'new'

In [169]:
nl

['new', 2, 3, 4, 5, 6]

In [170]:
print("'new' cannot be assigned to tuple ")

'new' cannot be assigned to tuple

In [171]:
print('tuples can be used to ensure objects are not changed')

tuples can be used to ensure objects are not changed

In [172]:
print('sets in Python, sets are unordered collections of unique elements')

sets in Python, sets are unordered collections of unique elements

In [173]:
myset = set()

In [174]:
myset.add(1)

In [175]:
myset

{1}

In [176]:
myset.add(2)

In [177]:
myset.add(2)

In [178]:
myset

{1, 2}

In [179]:
nllist=[1,1,1,1,1,1,1,1,1]

In [180]:
nllist

[1, 1, 1, 1, 1, 1, 1, 1, 1]

In [181]:
set(nllist)

{1}

In [182]:
print('booleans, operators that either convey true or false statements')

booleans, operators that either convey true or false statements

In [183]:
type(True)

bool

In [184]:
1 > 2

False

In [185]:
1 == 1

True

In [186]:
placeholder = None

In [187]:
type(placeholder)

NoneType

In [188]:
print('files and file paths')

files and file paths

In [189]:
%%writefile myfile.txt
'This is a text file'
'second line'
'third line'

Overwriting myfile.txt

In [190]:
myfile = open('myfile.txt')

In [191]:
myfile = open('myfile.txt')

In [192]:
myfile.read()

"'This is a text file'\n'second line'\n'third line'\n"

In [193]:
myfile.read()

''

In [194]:
print('when attemting to read again there is a cursor at the end of the file that needs to be reset to 0 to be read again')

when attemting to read again there is a cursor at the end of the file that needs to be reset to 0 to be read again

In [195]:
myfile.seek(0)

0

In [196]:
myfile.read()

"'This is a text file'\n'second line'\n'third line'\n"

In [197]:
myfile.seek(0)

0

In [198]:
contents = myfile.read()

In [199]:
myfile.seek(0)

0

In [200]:
myfile.readlines()

["'This is a text file'\n", "'second line'\n", "'third line'\n"]

In [201]:
print('can loop through list now and index as well')

can loop through list now and index as well

In [202]:
pwd

'c:\\Users\\brasea\\Desktop\\Workspace\\python_learning\\ch1'

In [203]:
myfile.close()

In [204]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [205]:
contents

"'This is a text file'\n'second line'\n'third line'\n"

In [206]:
with open('myfile.txt',mode ='r' )as myfile:
    contents = myfile.read()

In [207]:
%%writefile my_new_text.txt
One on first
Two on second
Three on third

Overwriting my_new_text.txt

In [208]:
with open('my_new_text.txt', mode = 'r') as f:
    print(f.read())

One on first
Two on second
Three on third

In [209]:
with open('my_new_text.txt',mode='a')as f:
    f.write('four on fourth')

In [210]:
with open('my_new_text.txt', mode = 'r') as f:
    print(f.read())

One on first
Two on second
Three on third
four on fourth

In [211]:
with open('abcdef.txt', mode ='w') as f:
    f.write('I created this file')

In [212]:
with open('abcdef.txt', mode ='r') as f:
    print(f.read())

I created this file

In [213]:
print("mode ='r' is read only\n""mode ='w' is write only, will overwrite files or create new ones\n""mode='a' is append only\n""mode='r+' is reading and writing\n""mode='w+' is writing and reading overwrites existing files or creates a new file")

mode ='r' is read only
mode ='w' is write only, will overwrite files or create new ones
mode='a' is append only
mode='r+' is reading and writing
mode='w+' is writing and reading overwrites existing files or creates a new file

In [214]:
print('myfile = open("C:\\Users\\Username\\Folder\\test.txt"')

myfile = open("C:\Users\Username\Folder\test.txt"

In [215]:
myfile.close()

In [216]:
print('look up tutorial on file')

look up tutorial on file