In [134]:
1+1

2

In [135]:
20 % 5

0

In [136]:
2 ** 3

8

In [137]:
2 + 10 * 10 + 3

105

In [138]:
(2+10) * (10 +3)

156

In [139]:
my_cats = 2

In [140]:
my_cats

2

In [141]:
my_cats = ["merry","sammy"]

In [142]:
my_cats

['merry', 'sammy']

In [143]:
print('dynamic typing, data types')

dynamic typing, data types

In [144]:
a = 5

In [145]:
a + a

10

In [146]:
a = a + a

In [147]:
a

10

In [148]:
type(a)

int

In [149]:
a = 30.1

In [150]:
type(a)

float

In [151]:
income = 100
tax_rate = 0.1
taxes = income * tax_rate

In [152]:
taxes

10.0

In [153]:
print('intro to strings, indexing, slicing ')

intro to strings, indexing, slicing

In [154]:
print('one')
print("two")

one
two

In [155]:
print('hello \n world')

hello
 world

In [156]:
print('hello \t world')

hello 	 world

In [157]:
len('hello')

5

In [158]:
len('I am')

4

In [159]:
mystring = "newstring"

In [160]:
mystring

'newstring'

In [161]:
mystring[0]

'n'

In [162]:
mystring[7]

'n'

In [163]:
mystring[6]

'i'

In [164]:
mystring[8]

'g'

In [165]:
mystring[-1]

'g'

In [166]:
mystring

'newstring'

In [167]:
mystring[3:9]

'string'

In [168]:
mystring[0:3]

'new'

In [169]:
print('3 would be up to but not including')

3 would be up to but not including

In [170]:
mystring

'newstring'

In [171]:
mystring[0:4]

'news'

In [172]:
mystring[::]

'newstring'

In [173]:
mystring[::2]

'nwtig'

In [174]:
print('step size of 2')

step size of 2

In [175]:
mystring

'newstring'

In [176]:
mystring[3:9:3]

'si'

In [177]:
mystring[::-1]

'gnirtswen'

In [178]:
print('reverse string')

reverse string

In [179]:
print('string immutability, cannot assign name="sam" and attempt name[0] = "p"')

string immutability, cannot assign name="sam" and attempt name[0] = "p"

In [180]:
print('concatenate')

concatenate

In [181]:
name= "Sam"

In [182]:
last_letters = name[1:]

In [183]:
last_letters

'am'

In [184]:
'P' + last_letters

'Pam'

In [185]:
x = 'Hello '

In [186]:
y = "World"

In [187]:
x + y

'Hello World'

In [188]:
letter = 'z'

In [189]:
letter * 20

'zzzzzzzzzzzzzzzzzzzz'

In [190]:
'2' + '3'

'23'

In [191]:
2 + 3

5

In [192]:
d = 'new'

In [193]:
d.upper()

'NEW'

In [194]:
print('method')

method

In [195]:
d = 'new second'

In [196]:
d.split()

['new', 'second']

In [197]:
q='this is a string'

In [198]:
q.split('i')

['th', 's ', 's a str', 'ng']

In [199]:
print ('create a list out of a string')

create a list out of a string

In [200]:
jname = "Jose"
print("Hello " + jname)

Hello Jose

In [201]:
print('formatting with the .format() method')

formatting with the .format() method

In [202]:
print('this is a string {}'.format('insert'))

this is a string insert

In [203]:
print('my name is {}'.format('Andrew'))

my name is Andrew

In [204]:
print('the {} is {} and {}'.format('fox','red','quick'))

the fox is red and quick

In [205]:
print('the {0} is {2} and {1}'.format('fox','red','quick'))

the fox is quick and red

In [206]:
print('Hello my name is {0} and I like {2} as well as {1}'.format('Andrew','reptiles','computers'))

Hello my name is Andrew and I like computers as well as reptiles

In [207]:
print ('A good way to format objects into your strings for print statements is with the string .format() method')

A good way to format objects into your strings for print statements is with the string .format() method

In [208]:
print('The {q} {r} {f} '.format(f='fox', r='red', q='quick'))

The quick red fox

In [209]:
print('float formatting follows"{value:width.precision f{"')

float formatting follows"{value:width.precision f{"

In [210]:
result = 100/777

In [211]:
result

0.1287001287001287

In [212]:
print('The result was {r}'.format(r=result))

The result was 0.1287001287001287

In [213]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [214]:
print('The result was {r:10.3f}'.format(r=result))

The result was      0.129

In [215]:
print('The result was {r:1.5f}'.format(r=result))

The result was 0.12870

In [216]:
print('value width precision f')

value width precision f

In [217]:
print('string litteral method V')

string litteral method V

In [218]:
jname

'Jose'

In [219]:
print('previous method')
print('Hello, his name is {n}'.format(n=jname))

previous method
Hello, his name is Jose

In [220]:
print('fstring method')
print(f'Hello, his name is {jname}')

fstring method
Hello, his name is Jose

In [221]:
sname='sam'
age='3'
print(f'{sname} is {age} years old')

sam is 3 years old

In [222]:
print('List section')

List section

In [223]:
new_list= [1,2,3]

In [224]:
new_list

[1, 2, 3]

In [225]:
new_list = ['string',100,23.4]

In [226]:
len(new_list)

3

In [227]:
new_list = ['one', 'two','three']

In [228]:
new_list[0]

'one'

In [229]:
new_list[1:]

['two', 'three']

In [230]:
new_list

['one', 'two', 'three']

In [231]:
anotherlist=['four','five']

In [232]:
new_list + anotherlist

['one', 'two', 'three', 'four', 'five']

In [233]:
fivelist=new_list + anotherlist

In [234]:
fivelist

['one', 'two', 'three', 'four', 'five']

In [235]:
new_list[0] ='ONE ALL CAPS'

In [236]:
new_list

['ONE ALL CAPS', 'two', 'three']

In [237]:
new_list.append('newitem')

In [238]:
new_list

['ONE ALL CAPS', 'two', 'three', 'newitem']

In [239]:
print('append adds to list, pop removes from list')

append adds to list, pop removes from list

In [240]:
new_list.pop()

'newitem'

In [241]:
new_list

['ONE ALL CAPS', 'two', 'three']

In [242]:
popped_item = new_list.pop()

In [243]:
popped_item

'three'

In [244]:
new_list

['ONE ALL CAPS', 'two']

In [245]:
new_list.pop(1)

'two'

In [246]:
new_list

['ONE ALL CAPS']

In [247]:
new_new = ['a','e','x','o','q']

In [248]:
new_new

['a', 'e', 'x', 'o', 'q']

In [249]:
new_new.sort()
sorted = new_new

In [250]:
sorted

['a', 'e', 'o', 'q', 'x']

In [251]:
new_new.reverse()

In [252]:
new_new

['x', 'q', 'o', 'e', 'a']

In [253]:
print('dictionaries, objects stored in key pairs. No index location needed')

dictionaries, objects stored in key pairs. No index location needed

In [254]:
my_dict = {'key1':'value1','key2':'value2'}

In [255]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [256]:
my_dict['key2']

'value2'

In [257]:
price_lookup = {'TV':'$400','banana':'$.60','bicycle':'$300'}

In [258]:
price_lookup['TV']

'$400'

In [259]:
price_lookup['bicycle']

'$300'

In [260]:
dictlist = {'k1':123, 'k2':[1,2,3,4], 'k3':{'insidekey':100}}

In [261]:
dictlist['k3']

{'insidekey': 100}

In [262]:
dictlist['k1']

123

In [263]:
dictlist['k2']

[1, 2, 3, 4]

In [264]:
dictlist['k3']

{'insidekey': 100}

In [265]:
dictlist['k3']['insidekey']

100

In [266]:
dictlist['k2'][2]

3

In [267]:
dictlist['k2'][0]

1

In [268]:
nd={'newkey':['a','b','c']}

In [269]:
nd

{'newkey': ['a', 'b', 'c']}

In [270]:
ml=nd['newkey']

In [271]:
ml

['a', 'b', 'c']

In [272]:
letter = ml[2]

In [273]:
letter

'c'

In [274]:
letter.upper()

'C'

In [275]:
nd['newkey']

['a', 'b', 'c']

In [276]:
nd['newkey'][2].upper()

'C'

In [277]:
print('you can stack dictionary calls on a single object')

you can stack dictionary calls on a single object

In [278]:
ncd={'k1':100,'k2':200}

In [279]:
ncd['k3'] = 300

In [280]:
ncd

{'k1': 100, 'k2': 200, 'k3': 300}

In [281]:
print('how to add new keys')

how to add new keys

In [282]:
ncd['k1']=400

In [283]:
ncd

{'k1': 400, 'k2': 200, 'k3': 300}

In [284]:
ncd.keys()

dict_keys(['k1', 'k2', 'k3'])

In [285]:
ncd.values()

dict_values([400, 200, 300])

In [286]:
ncd.items()

dict_items([('k1', 400), ('k2', 200), ('k3', 300)])

In [287]:
print('tuples, like lists but are immutable. elements cannot be reasigned. uses (tuple)')

tuples, like lists but are immutable. elements cannot be reasigned. uses (tuple)

In [288]:
t = (1,2,3,4,5,6)

In [289]:
nl=[1,2,3,4,5,6]

In [290]:
len(t)

6

In [291]:
nt= ('one',2)

In [292]:
nt[0]

'one'

In [293]:
nt[-1]

2

In [294]:
ntt = ('a','a','b')

In [295]:
ntt.count('a')

2

In [296]:
print("how many times 'a'occurs in that tuple")

how many times 'a'occurs in that tuple

In [297]:
ntt.index('a')

0

In [298]:
print('index location a occurs at first')

index location a occurs at first

In [299]:
ntt

('a', 'a', 'b')

In [300]:
nl

[1, 2, 3, 4, 5, 6]

In [301]:
nl[0] = 'new'

In [302]:
nl

['new', 2, 3, 4, 5, 6]

In [303]:
print("'new' cannot be assigned to tuple ")

'new' cannot be assigned to tuple

In [304]:
print('tuples can be used to ensure objects are not changed')

tuples can be used to ensure objects are not changed

In [305]:
print('sets in Python, sets are unordered collections of unique elements')

sets in Python, sets are unordered collections of unique elements

In [306]:
myset = set()

In [307]:
myset.add(1)

In [308]:
myset

{1}

In [309]:
myset.add(2)

In [310]:
myset.add(2)

In [311]:
myset

{1, 2}

In [312]:
nllist=[1,1,1,1,1,1,1,1,1]

In [313]:
nllist

[1, 1, 1, 1, 1, 1, 1, 1, 1]

In [314]:
set(nllist)

{1}

In [315]:
print('booleans, operators that either convey true or false statements')

booleans, operators that either convey true or false statements

In [316]:
type(True)

bool

In [317]:
1 > 2

False

In [318]:
1 == 1

True

In [319]:
placeholder = None

In [320]:
type(placeholder)

NoneType

In [321]:
print('files and file paths')

files and file paths

In [322]:
%%writefile myfile.txt
'This is a text file'
'second line'
'third line'

Overwriting myfile.txt

In [323]:
myfile = open('myfile.txt')

In [324]:
myfile = open('myfile.txt')

In [325]:
myfile.read()

"'This is a text file'\n'second line'\n'third line'\n"

In [326]:
myfile.read()

''

In [327]:
print('when attemting to read again there is a cursor at the end of the file that needs to be reset to 0 to be read again')

when attemting to read again there is a cursor at the end of the file that needs to be reset to 0 to be read again

In [328]:
myfile.seek(0)

0

In [329]:
myfile.read()

"'This is a text file'\n'second line'\n'third line'\n"

In [330]:
myfile.seek(0)

0

In [331]:
contents = myfile.read()

In [332]:
myfile.seek(0)

0

In [333]:
myfile.readlines()

["'This is a text file'\n", "'second line'\n", "'third line'\n"]

In [334]:
print('can loop through list now and index as well')

can loop through list now and index as well

In [335]:
pwd

'c:\\Users\\brasea\\Desktop\\Workspace\\python_learning\\ch1'

In [336]:
myfile.close()

In [337]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [338]:
contents

"'This is a text file'\n'second line'\n'third line'\n"

In [341]:
with open('myfile.txt',mode ='r' )as myfile:
    contents = myfile.read()

In [344]:
%%writefile my_new_text.txt
One on first
Two on second
Three on third

Writing my_new_text.txt

In [346]:
with open('my_new_text.txt', mode = 'r') as f:
    print(f.read())

One on first
Two on second
Three on third

In [347]:
with open('my_new_text.txt',mode='a')as f:
    f.write('four on fourth')

In [348]:
with open('my_new_text.txt', mode = 'r') as f:
    print(f.read())

One on first
Two on second
Three on third
four on fourth

In [350]:
with open('abcdef.txt', mode ='w') as f:
    f.write('I created this file')

In [351]:
with open('abcdef.txt', mode ='r') as f:
    print(f.read())

I created this file

In [359]:
print("mode ='r' is read only\n""mode ='w' is write only, will overwrite files or create new ones\n""mode='a' is append only\n""mode='r+' is reading and writing\n""mode='w+' is writing and reading overwrites existing files or creates a new file")

mode ='r' is read only
mode ='w' is write only, will overwrite files or create new ones
mode='a' is append only
mode='r+' is reading and writing
mode='w+' is writing and reading overwrites existing files or creates a new file