In [17]:
1+1

2

In [18]:
20 % 5

0

In [19]:
2 ** 3

8

In [20]:
2 + 10 * 10 + 3

105

In [21]:
(2+10) * (10 +3)

156

In [22]:
my_cats = 2

In [23]:
my_cats

2

In [24]:
my_cats = ["merry","sammy"]

In [25]:
my_cats

['merry', 'sammy']

In [26]:
print('dynamic typing, data types')

dynamic typing, data types

In [27]:
a = 5

In [28]:
a + a

10

In [29]:
a = a + a

In [30]:
a

10

In [31]:
type(a)

int

In [32]:
a = 30.1

In [33]:
type(a)

float

In [34]:
income = 100
tax_rate = 0.1
taxes = income * tax_rate

In [35]:
taxes

10.0

In [36]:
print('intro to strings, indexing, slicing ')

intro to strings, indexing, slicing

In [37]:
print('one')
print("two")

one
two

In [38]:
print('hello \n world')

hello
 world

In [39]:
print('hello \t world')

hello 	 world

In [40]:
len('hello')

5

In [41]:
len('I am')

4

In [42]:
mystring = "newstring"

In [43]:
mystring

'newstring'

In [44]:
mystring[0]

'n'

In [46]:
mystring[7]

'n'

In [47]:
mystring[6]

'i'

In [48]:
mystring[8]

'g'

In [49]:
mystring[-1]

'g'

In [50]:
mystring

'newstring'

In [52]:
mystring[3:9]

'string'

In [54]:
mystring[0:3]

'new'

In [55]:
print('3 would be up to but not including')

3 would be up to but not including

In [56]:
mystring

'newstring'

In [58]:
mystring[0:4]

'news'

In [59]:
mystring[::]

'newstring'

In [60]:
mystring[::2]

'nwtig'

In [61]:
print('step size of 2')

step size of 2

In [62]:
mystring

'newstring'

In [63]:
mystring[3:9:3]

'si'

In [64]:
mystring[::-1]

'gnirtswen'

In [65]:
print('reverse string')

reverse string

In [68]:
print('string immutability, cannot assign name="sam" and attempt name[0] = "p"')

string immutability, cannot assign name="sam" and attempt name[0] = "p"

In [69]:
print('concatenate')

concatenate

In [70]:
name= "Sam"

In [71]:
last_letters = name[1:]

In [72]:
last_letters

'am'

In [73]:
'P' + last_letters

'Pam'

In [74]:
x = 'Hello '

In [75]:
y = "World"

In [76]:
x + y

'Hello World'

In [77]:
letter = 'z'

In [78]:
letter * 20

'zzzzzzzzzzzzzzzzzzzz'

In [79]:
'2' + '3'

'23'

In [80]:
2 + 3

5

In [81]:
d = 'new'

In [82]:
d.upper()

'NEW'

In [83]:
print('method')

method

In [84]:
d = 'new second'

In [85]:
d.split()

['new', 'second']

In [86]:
q='this is a string'

In [88]:
q.split('i')

['th', 's ', 's a str', 'ng']

In [89]:
print ('create a list out of a string')

create a list out of a string

In [91]:
jname = "Jose"
print("Hello " + jname)

Hello Jose

In [92]:
print('formatting with the .format() method')

formatting with the .format() method

In [93]:
print('this is a string {}'.format('insert'))

this is a string insert

In [95]:
print('my name is {}'.format('Andrew'))

my name is Andrew

In [101]:
print('the {} is {} and {}'.format('fox','red','quick'))

the fox is red and quick

In [103]:
print('the {0} is {2} and {1}'.format('fox','red','quick'))

the fox is quick and red

In [104]:
print('Hello my name is {0} and I like {2} as well as {1}'.format('Andrew','reptiles','computers'))

Hello my name is Andrew and I like computers as well as reptiles

In [105]:
print ('A good way to format objects into your strings for print statements is with the string .format() method')

A good way to format objects into your strings for print statements is with the string .format() method

In [107]:
print('The {q} {r} {f} '.format(f='fox', r='red', q='quick'))

The quick red fox

In [108]:
print('float formatting follows"{value:width.precision f{"')

float formatting follows"{value:width.precision f{"

In [110]:
result = 100/777

In [111]:
result

0.1287001287001287

In [115]:
print('The result was {r}'.format(r=result))

The result was 0.1287001287001287

In [116]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [117]:
print('The result was {r:10.3f}'.format(r=result))

The result was      0.129

In [118]:
print('The result was {r:1.5f}'.format(r=result))

The result was 0.12870

In [119]:
print('value width precision f')

value width precision f